ul#topnav {
	margin: 0; padding: 0;
	float:left;
	width: 100%;
	list-style: none;
	font-size: 10pt;
}
ul#topnav li {	
	margin: 0; padding: 0;
	position: relative;
}
ul#topnav li a {
	/*float: left;*/	
	color: #FFF; 
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;
	font-weight : bold;        
}

ul#topnav li a {
	/*float: left;*/
	height: 35px;
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;
	font-weight : bold;
	line-height: 200%;
        padding-bottom: 20px;
}

ul#topnav li ul li a {
	/*float: left;*/
	height: 10px;
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;
	font-weight : bold;
        text-align: left;        
        padding-bottom: 8px;
}

/*******************************/
#navigation {
	background: url("../../images/nav_bottom.png") repeat-x;
	height: 43px;
	width: 100%;
	float:left;
    line-height:normal;
    text-align: center;
	margin: 0;
	padding: 0;

}
#navigation ul, #navigation ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation ul {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navigation ul li {
	display: inline;
}

#navigation ul li a {	
	/*color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;
	font-weight : bold;	
	padding: 5px 0px 0;
        padding-bottom: 15px;*/
}
#navigation ul li span {
	/*padding: 0px -10px 5px 5px;*/
	/*margin: 0px 0 4px 4px;*/
}
#navigation ul li a:hover span {
	text-decoration: underline;
	background-position: 100% -75px;
}
#navigation ul li a:hover {
	background-position: 0 -75px;
}
#navigation ul li a.currentItem {
	color: #000;
	text-shadow: none;
}
#navigation #current a span {
	background-position: 100% -150px;
}

#navigation ul li span.item{
	display: inline-table;
	padding: 0;
	margin: 0;
	border: 0;
	overflow:auto;
        margin:0px; padding:0px; border:0px; border-collapse:separate; border-spacing:0px;
        line-height: 0px;
}

#navigation ul li span.leftItem{
	background: url(/car/web/images/nav_item_left.png) no-repeat;
        padding-bottom: 13px;
        padding-top: 5px;
        margin-right: -4px;
        padding-right: 2px;
        
}

#navigation ul li span.rightItem{
	background: url(/car/web/images/nav_item_right.png) no-repeat;
        padding-bottom: 13px;
        padding-top: 5px;
        margin-left: -4px;
        padding-right: 2px;
}

#navigation ul li a.bgItem{
	background: url(/car/web/images/nav_item_bg.png) repeat-x;
        padding-top: 5px;
}

#navigation ul li span.curLeftItem{
        background: url(/car/web/images/nav_cur_item_left.png) no-repeat;
        padding-bottom: 13px;
        padding-top: 5px;
        margin-right: -4px;
        padding-right: 2px;
}

#navigation ul li span.curRightItem{
        background: url(/car/web/images/nav_cur_item_right.png) no-repeat;
        padding-bottom: 13px;
        padding-top: 5px;
        margin-left: -4px;
        padding-right: 2px;
}

#navigation ul li a.curBgItem{
        background: url(/car/web/images/nav_cur_item_bg.png) repeat-x;
        padding-top: 5px;

}



/*********************************/


ul#topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 1px; top: 35px;	
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
        background: #c51b00 url(../../images/sub_bg.png) repeat-x top;
        padding-bottom: 10px;
}
ul#topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/	
	width: 170px;
}
html ul#topnav li ul.subnav li a {
	float: left;
	width: 170px;
	padding-left: 0px;
}
html ul#topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	
}
