@font-face {
		src: url("assets/Kroeger 05-53CYR.ttf");
		fontFamily: "kroeger";
}
AccordionHeader
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="AccordionHeader_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AccordionHeader_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AccordionHeader_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AccordionHeader_upSkin");
}

WindowClose
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMin_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonClose_upSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonClose_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonClose_upSkin");
}
WindowMin
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMax_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonMin_upSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonMin_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonMin_upSkin");
}
WindowMax
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonClose_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonMax_upSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonMax_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonMax_upSkin");
}
ButtonBar
{
	buttonDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_buttonDisabledSkin");
	buttonDownSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_buttonDownSkin");
	buttonOverSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_buttonOverSkin");
	buttonSelectedDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_buttonSelectedDisabledSkin");
	buttonSelectedUpSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_buttonSelectedUpSkin");
	buttonUpSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_buttonUpSkin");
	firstDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_firstDisabledSkin");
	firstDownSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_firstDownSkin");
	firstOverSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_firstOverSkin");
	firstSelectedDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_firstSelectedDisabledSkin");
	firstSelectedUpSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_firstSelectedUpSkin");
	firstUpSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_firstUpSkin");
	lastDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_lastDisabledSkin");
	lastDownSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_lastDownSkin");
	lastOverSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_lastOverSkin");
	lastSelectedDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_lastSelectedDisabledSkin");
	lastSelectedUpSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_lastSelectedUpSkin");
	lastUpSkin: Embed(source="AmjiTheme.swf", symbol="ButtonBar_lastUpSkin");
}
ButtonClose
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonClose_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="ButtonClose_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="ButtonClose_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="ButtonClose_upSkin");
}
ButtonMax
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMax_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMax_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMax_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMax_upSkin");
}
ButtonMin
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMin_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMin_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMin_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="ButtonMin_upSkin");
}
CheckBox
{
	disabledIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_upIcon");
}
DataGrid
{
	columnDropIndicatorSkin: Embed(source="AmjiTheme.swf", symbol="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin: Embed(source="AmjiTheme.swf", symbol="DataGrid_columnResizeSkin");
	headerSeparatorSkin: Embed(source="AmjiTheme.swf", symbol="DataGrid_headerSeparatorSkin");
	sortArrowSkin: Embed(source="AmjiTheme.swf", symbol="DataGrid_sortArrowSkin");
	stretchCursor: Embed(source="AmjiTheme.swf", symbol="DataGrid_stretchCursor");
}
DateChooser
{
	nextMonthDisabledSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextMonthDisabledSkin");
	nextMonthDownSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextMonthDownSkin");
	nextMonthOverSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextMonthOverSkin");
	nextMonthUpSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextMonthUpSkin");
	nextYearDisabledSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextYearDisabledSkin");
	nextYearDownSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextYearDownSkin");
	nextYearOverSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextYearOverSkin");
	nextYearUpSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_nextYearUpSkin");
	prevMonthDisabledSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevMonthDisabledSkin");
	prevMonthDownSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevMonthDownSkin");
	prevMonthOverSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevMonthOverSkin");
	prevMonthUpSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevMonthUpSkin");
	prevYearDisabledSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevYearDisabledSkin");
	prevYearDownSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevYearDownSkin");
	prevYearOverSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevYearOverSkin");
	prevYearUpSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_prevYearUpSkin");
	rollOverIndicatorSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_rollOverIndicatorSkin");
	selectionIndicatorSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_selectionIndicatorSkin");
	todayIndicatorSkin: Embed(source="AmjiTheme.swf", symbol="DateChooser_todayIndicatorSkin");
}
DateField
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="DateField_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="DateField_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="DateField_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="DateField_upSkin");
}
DividedBox
{
	dividerSkin: Embed(source="AmjiTheme.swf", symbol="DividedBox_dividerSkin");
	horizontalCursor: Embed(source="AmjiTheme.swf", symbol="DividedBox_horizontalCursor");
	verticalCursor: Embed(source="AmjiTheme.swf", symbol="DividedBox_verticalCursor");
}
DragManager
{
	copyCursor: Embed(source="AmjiTheme.swf", symbol="DragManager_copyCursor");
	defaultDragImageSkin: Embed(source="AmjiTheme.swf", symbol="DragManager_defaultDragImageSkin");
	linkCursor: Embed(source="AmjiTheme.swf", symbol="DragManager_linkCursor");
	moveCursor: Embed(source="AmjiTheme.swf", symbol="DragManager_moveCursor");
	rejectCursor: Embed(source="AmjiTheme.swf", symbol="DragManager_rejectCursor");
}
FormItem
{
	indicatorSkin: Embed(source="AmjiTheme.swf", symbol="FormItem_indicatorSkin");
}
Menu
{
	branchDisabledIcon: Embed(source="AmjiTheme.swf", symbol="Menu_branchDisabledIcon");
	branchIcon: Embed(source="AmjiTheme.swf", symbol="Menu_branchIcon");
	checkDisabledIcon: Embed(source="AmjiTheme.swf", symbol="Menu_checkDisabledIcon");
	checkIcon: Embed(source="AmjiTheme.swf", symbol="Menu_checkIcon");
	radioDisabledIcon: Embed(source="AmjiTheme.swf", symbol="Menu_radioDisabledIcon");
	radioIcon: Embed(source="AmjiTheme.swf", symbol="Menu_radioIcon");
	separatorSkin: Embed(source="AmjiTheme.swf", symbol="Menu_separatorSkin");
}
MenuBar
{
	backgroundSkin: Embed(source="AmjiTheme.swf", symbol="MenuBar_backgroundSkin");
	itemDownSkin: Embed(source="AmjiTheme.swf", symbol="MenuBar_itemDownSkin");
	itemOverSkin: Embed(source="AmjiTheme.swf", symbol="MenuBar_itemOverSkin");
	itemUpSkin: Embed(source="AmjiTheme.swf", symbol="MenuBar_itemUpSkin");
}
PopUpButton
{
	DisabledSkin: Embed(source="AmjiTheme.swf", symbol="PopUpButton_DisabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="PopUpButton_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="PopUpButton_overSkin");
	popUpDownSkin: Embed(source="AmjiTheme.swf", symbol="PopUpButton_popUpDownSkin");
	popUpOverSkin: Embed(source="AmjiTheme.swf", symbol="PopUpButton_popUpOverSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="PopUpButton_upSkin");
}
RadioButton
{
	disabledIcon: Embed(source="AmjiTheme.swf", symbol="RadioButton_disabledIcon");
	downIcon: Embed(source="AmjiTheme.swf", symbol="RadioButton_downIcon");
	overIcon: Embed(source="AmjiTheme.swf", symbol="RadioButton_overIcon");
	upIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonIcon");
}
ScrollBar
{
	thumbIcon: Embed(source="AmjiTheme.swf", symbol="ScrollBar_thumbIcon");
}
ScrollThumb
{
	downSkin: Embed(source="AmjiTheme.swf", symbol="ScrollThumb_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="ScrollThumb_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="ScrollThumb_upSkin");
}
ToolTip
{
	borderSkin: Embed(source="AmjiTheme.swf", symbol="ToolTip_borderSkin");
}
Tree
{
	defaultLeafIcon: Embed(source="AmjiTheme.swf", symbol="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(source="AmjiTheme.swf", symbol="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(source="AmjiTheme.swf", symbol="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(source="AmjiTheme.swf", symbol="Tree_folderClosedIcon");
	folderOpenIcon: Embed(source="AmjiTheme.swf", symbol="Tree_folderOpenIcon");
}
Button
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="Button_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="Button_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="Button_upSkin");
}

.loginScalingBackground
        {

            background-image: Embed(source="AmjiTheme.swf", symbol="BoxLoginSkin");
			
            background-size:"100%";    
            padding-bottom:0; 
            padding-top:3;
             
        
        }
.loginTooltipBackground
        {

            background-image: Embed(source="AmjiTheme.swf", symbol="BoxTooltipSkin");
			
            background-size:"100%";    
            padding-top:12;
            padding-left:15;
            padding-right : 35;
             
        
        }
.loginAreaBackground
        {

            background-image: Embed("assets/images/amji_login_bg.png");

            background-size:"100%";            
        }
        
.popupFugaceBackground
        {

            background-image: Embed(source="AmjiTheme.swf", symbol="AmjiPopupFugage");

            background-size:"100%";            
        }


AmjiCombobox {
   	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_disabledSkin");
   	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiComboBoxArrow_upSkin");
	editableDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableUpSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiComboBoxArrow_upSkin");
		
   	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiComboBoxArrow_upSkin");	
   	dropDownStyleName: "myCustomDropdownStyleName";
   	selectionColor: #eec760;
   	rollOverColor: #eeeeee;
   	themeColor: #eec760;
   	fontFamily: Tahoma;
   	fontSize: 10;
   	color: #9F9F9F;
   	fontWeight: normal;
}
.myCustomDropdownStyleName {
            backgroundAlpha: 0.0;
            backgroundColor: white;
            drop-shadow-enabled : false;
        }
ComboBoxArrow
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_downSkin");
	editableDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableUpSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_upSkin");
}

AmjiButtonTool
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonTooltip_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonTooltip_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonTooltip_upSkin");
}

AmjiButtonResize
{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonResizer_upSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonResizer_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiButtonResizer_upSkin");
}
RadioButtonSelected
{
	disabledIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_disabledIcon");
	downIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_downIcon");
	overIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_overIcon");
	upIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_upIcon");
}

AmjiRadioButton
{
	disabledIcon: Embed(source="AmjiTheme.swf", symbol="RadioButton_disabledIcon");
	downIcon: Embed(source="AmjiTheme.swf", symbol="RadioButton_downIcon");
	overIcon: Embed(source="AmjiTheme.swf", symbol="RadioButton_overIcon");
	upIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonIcon");
	selectedUpIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_upIcon");
    selectedOverIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_overIcon");
    selectedDownIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_downIcon");
    selectedDisabledIcon: Embed(source="AmjiTheme.swf", symbol="RadioButtonSelected_disabledIcon");
}

AmjiCheckBox{
	disabledIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="AmjiTheme.swf", symbol="CheckBox_upIcon");	
}

AmjiButton{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiSimpleButton_upSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiSimpleButton_upSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiSimpleButton_upSkin");
}

AmjiBlackButton{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiBlackButton_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiBlackButton_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiBlackButton_upSkin");
}

AmjiOrangeButton{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeButton_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeButton_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeButton_upSkin");
}

AmjiArrowOrangeButton{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiArrowOrangeButton_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiArrowOrangeButton_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiArrowOrangeButton_upSkin");
}

AmjiArrowBlackButton{
	disabledSkin: Embed(source="AmjiTheme.swf", symbol="Button_disabledSkin");
	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiArrowBlackButton_downSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiArrowBlackButton_overSkin");
	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiArrowBlackButton_upSkin");
}

AmjiOrangeCombobox {
   	disabledSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeComboBoxArrow_disabledSkin");
   	downSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeComboBoxArrow_upSkin");
	editableDisabledSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableDisabledSkin");
	editableDownSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableDownSkin");
	editableOverSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableOverSkin");
	editableUpSkin: Embed(source="AmjiTheme.swf", symbol="ComboBoxArrow_editableUpSkin");
	overSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeComboBoxArrow_upSkin");
		
   	upSkin: Embed(source="AmjiTheme.swf", symbol="AmjiOrangeComboBoxArrow_upSkin");	
   	dropDownStyleName: "myCustomDropdownStyleName";
   	selectionColor: #eec760;
   	rollOverColor: #eeeeee;
   	themeColor: #eec760;
   	fontFamily: Tahoma;
   	fontSize: 10;
   	color: #9F9F9F;
   	fontWeight: normal;
}




