body {
	margin:0;
	padding:0;
	font:13px/16px "Lucida Grande", Arial, Sans-serif;
	color:#789;	
	background-repeat: repeat;
}
#container {
	width:780px;
	margin:0 auto;
	position: relative;
}

#content {
	width:520px;
	min-height:500px;
}
a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border-width:0;
}
#topnav {
	padding:5px 5px 12px;
	font-size:11px;
	line-height:23px;
	text-align:right;
}
#topnav a.signin {
	background:#88bbd4;	
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("../images/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin:hover {
	background:#59B;
	*background:transparent url("../images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("../images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#666!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("../images/toggle_up_dark.png");
	color:#789;
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#ddeef6;
	position:absolute;
	width:210px;
	z-index:100;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:2px;
	margin-right: 5px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.tipsy {
	opacity:.8;
	filter:alpha(opacity=80);
	background-repeat:no-repeat;
	padding:5px;
}
.tipsy-inner {
	padding:8px 8px;
	max-width:200px;
	font:11px 'Lucida Grande', sans-serif;
	font-weight:bold;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#000;
	color:white;
	text-align:left;
}
.tipsy-north {
	background-image:url(../images/tipsy-north.gif);
	background-position:top center;
}
.tipsy-south {
	background-image:url(../images/tipsy-south.gif);
	background-position:bottom center;
}
.tipsy-east {
	background-image:url(../images/tipsy-east.gif);
	background-position:right center;
}
.tipsy-west {
	background-image:url(../images/tipsy-west.gif);
	background-position:left center;
}

#loader {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ededed;
	z-index: 999;
	vertical-align: middle;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}


.fullBg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
 
#maincontent {
  position: absolute;
  /*position: fixed;*/
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  border: 0;
  margin-left: auto;
  margin-right: auto
}

#main {
  width: 959px;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 100%;
  min-height: 100%;  
}

/*------------------------------------------Footer Start----------------------------------*/

#footerOutside{
	background:url(images/footer_outer_bg.gif) repeat-x 0 0 #9E9E9E;
	color:#FFFFFF; margin:0; padding:0; height:134px;
	}
	
#footer{
	background:url(images/footer_bg.gif) no-repeat 0 0 #9E9E9E; color:#FFFFFF;
	margin:0 auto; padding:43px 14px 0 23px; 
	height:91px;
	width: 959px;  
    margin-left: auto;
    margin-right: auto;    
    bottom: 0;    
}
#footer ul.nav{
	margin:0; padding:0; list-style:none;
	}
#footer ul.nav li{
	background:url(images/nav_bg.gif) repeat-x 0 0 #A1A1A1;
	font:bold 13px/15px Arial, Helvetica, sans-serif;
	color:#FFFFFF; float:right;
	}
#footer ul.nav li a{
	background:url(images/nav_bg.gif) repeat-x 0 0 #A1A1A1;
	font:bold 13px/15px Arial, Helvetica, sans-serif;
	color:#FFFFFF; padding:0 9px;
	text-decoration:none;
	}
#footer ul.nav li a:hover{
	background-color:#BBB9B9; background-image:none; color:#FFFFFF;
	}

#footer ul.navlink{
	margin:0; padding:0; list-style:none;
	}

a.xhtml{
	background:url(images/xhtml_bg.gif) no-repeat 0 0 #9E9E9E;
	width:67px; height:17px; float:left;
	font:normal 14px/16px Arial, Helvetica, sans-serif;
	color:#000000; text-indent:-1000px; margin:0 7px 0 0;
	}
a.xhtml:hover{
	background:url(images/xhtml_bg_on.gif) no-repeat 0 0 #9E9E9E; color:#000000;
	}

a.css{
	background:url(images/css_bg.gif) no-repeat 0 0 #9E9E9E;
	width:56px; height:17px; float:left;
	font:normal 14px/16px Arial, Helvetica, sans-serif;
	color:#000000; text-indent:-1000px;
	}
a.css:hover{
	background:url(images/css_bg_on.gif) no-repeat 0 0 #9E9E9E; color:#000000;
	}
	
#footer p.copyright{
	background:url(images/copyright_bg.gif) repeat-x 0 0 #ACACAC;
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	color:#000000; float:right; padding:6px 9px 0 0;
	}
	
.design{
	background:url(images/design_bg.gif) repeat-x 0 0 #ACACAC;
	font:bold 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF; float:left;	margin:10px 0 0 0; display:block;
	}
.design a{
	background:url(images/design_bg.gif) repeat-x 0 0 #B5B5B5;
	font:bold 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF; text-decoration:none;
	}
.design a:hover{
	background-color:#464646; background-image:none; color:#FFFFFF;
	}

/*------------------------------------------Footer End----------------------------------*/


/*** AWESOME BUTTON ***/
.awesome, .awesome:visited {
	background: #222 url(../images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }
