html {
    background: url(../images/287.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	margin:0;
	padding:0;
	font:13px/16px "Lucida Grande", Arial, Sans-serif;
	color:#789;	
        /*color:#878787;*/
	/*background-repeat: no-repeat;*/
	/*background: #FFFFFF url(../images/287.jpg) center center fixed;*/
        /*background: #FFFFFF;*/
}
#container {
	width:780px;
	margin:0 auto;
	position: relative;
}

#content {
	width:520px;
	min-height:500px;
}
a:link, a:visited {
	color:#27b;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
a img {
	border-width:0;
}
#topnav {
	padding:5px 5px 12px;
	font-size:11px;
	line-height:23px;
	text-align:right;	
}

#topMenu {	
	
	height : 14px;
	background-image:url("../images/nav_top.jpg");
}

#topMenuBg {	
	
	height : 145px;
	background-image:url("../images/nav_bg.jpg");
}

#topMenuBottom {		
	height : 35px;
	background-image:url("../images/nav_bottom.png");
}

#topnav a.signin {
	background:#88bbd4;	
	padding:4px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	*background:transparent url("../images/signin-nav-bg-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin:hover {
	background:#59B;
	*background:transparent url("../images/signin-nav-bg-hover-ie.png") no-repeat 0 0;
	*padding:4px 12px 6px;
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 3px!important;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("../images/toggle_down_light.png");
	background-repeat:no-repeat;
	background-position:100% 50%;
	padding:4px 16px 6px 0;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#666!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("../images/toggle_up_dark.png");
	color:#789;
}

#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#ddeef6;
	position:absolute;
	width:210px;
	z-index:100;
	border:1px transparent;
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:2px;
	margin-right: 5px;
	*margin-right: -1px;
	color:#789;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
}
#signin_menu a {
	color:#6AC;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.tipsy {
	opacity:.8;
	filter:alpha(opacity=80);
	background-repeat:no-repeat;
	padding:5px;
}
.tipsy-inner {
	padding:8px 8px;
	max-width:200px;
	font:11px 'Lucida Grande', sans-serif;
	font-weight:bold;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	background-color:#000;
	color:white;
	text-align:left;
}
.tipsy-north {
	background-image:url(../images/tipsy-north.gif);
	background-position:top center;
}
.tipsy-south {
	background-image:url(../images/tipsy-south.gif);
	background-position:bottom center;
}
.tipsy-east {
	background-image:url(../images/tipsy-east.gif);
	background-position:right center;
}
.tipsy-west {
	background-image:url(../images/tipsy-west.gif);
	background-position:left center;
}

#loader {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ededed;
	z-index: 999;
	vertical-align: middle;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}


.fullBg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
}
 
#maincontent {
  position: absolute;
  /*position: fixed;*/
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;  
  border: 0;
  margin-left: auto;
  margin-right: auto
}

#main {
  width: 1024px;
  border: 0;
  margin-left: auto;
  margin-right: auto;    
  min-height: 100%;
  
  /*-moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;*/
  /*-moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;*/  
}



/*------------------------------------------Footer Start----------------------------------*/

#footerOutside{
	background:url(../images/bgfooter.jpg) repeat-x 0 0;
	color:#FFFFFF; margin:0; padding:0; height:241px;
	}

#footerOutsideTop{
	background:url(../images/bgfooterTop.jpg) repeat-x 0 0;
	color:#FFFFFF; margin:0; padding:0; height:62px;
}

#footer{	
    margin:0 auto; padding:0px 0px 0px 0px;
    height:241px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    bottom: 0;    
}
#footer ul.nav{
	margin:0; padding:0; list-style:none;
	}
#footer ul.nav li{
	background:url(images/nav_bg.gif) repeat-x 0 0 #A1A1A1;
	font:bold 13px/15px Arial, Helvetica, sans-serif;
	color:#FFFFFF; float:right;
	}
#footer ul.nav li a{
	background:url(images/nav_bg.gif) repeat-x 0 0 #A1A1A1;
	font:bold 13px/15px Arial, Helvetica, sans-serif;
	color:#FFFFFF; padding:0 9px;
	text-decoration:none;
	}
#footer ul.nav li a:hover{
	background-color:#BBB9B9; background-image:none; color:#FFFFFF;
	}

#footer ul.navlink{
	margin:0; padding:0; list-style:none;
	}

a.xhtml{
	background:url(images/xhtml_bg.gif) no-repeat 0 0 #9E9E9E;
	width:67px; height:17px; float:left;
	font:normal 14px/16px Arial, Helvetica, sans-serif;
	color:#000000; text-indent:-1000px; margin:0 7px 0 0;
	}
a.xhtml:hover{
	background:url(images/xhtml_bg_on.gif) no-repeat 0 0 #9E9E9E; color:#000000;
	}

a.css{
	background:url(images/css_bg.gif) no-repeat 0 0 #9E9E9E;
	width:56px; height:17px; float:left;
	font:normal 14px/16px Arial, Helvetica, sans-serif;
	color:#000000; text-indent:-1000px;
	}
a.css:hover{
	background:url(images/css_bg_on.gif) no-repeat 0 0 #9E9E9E; color:#000000;
	}
	
#footer p.copyright{
	background:url(images/copyright_bg.gif) repeat-x 0 0 #ACACAC;
	font:normal 10px/12px Arial, Helvetica, sans-serif;
	color:#000000; float:right; padding:6px 9px 0 0;
	}
	
.design{
	background:url(images/design_bg.gif) repeat-x 0 0 #ACACAC;
	font:bold 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF; float:left;	margin:10px 0 0 0; display:block;
	}
.design a{
	background:url(images/design_bg.gif) repeat-x 0 0 #B5B5B5;
	font:bold 11px/16px Arial, Helvetica, sans-serif;
	color:#FFFFFF; text-decoration:none;
	}
.design a:hover{
	background-color:#464646; background-image:none; color:#FFFFFF;
	}

/*------------------------------------------Footer End----------------------------------*/


/*** AWESOME BUTTON ***/
.awesome, .awesome:visited {
	background: #222 url(../images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover							{ background-color: #111; color: #fff; }
.awesome:active							{ top: 1px; }
.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited 			{ font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
.green.awesome:hover						{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
.blue.awesome:hover							{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited			{ background-color: #e33100; }
.red.awesome:hover							{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }


#topnav div.mySignin {
	display:inline-table;	
	text-align:left;
	text-decoration:none;
	font-weight:bold;
	color:#fff;	
	background: url("../images/login.png") no-repeat;
	padding:5px 10px 6px;
	cursor: pointer;
	width: 93px;	
}

#topnav div.mySigninLabel {
	display:inline-table;	
	text-align:left;
	text-decoration:none;	
	color:#cacaca;	
	padding:5px 10px 6px;
	cursor: pointer;		
}

#topnav div.mySigninLink {
	display:inline-table;
	text-align:left;
	text-decoration:none;
	color:#cacaca;
        padding-left: 3px;
        padding-right: 3px;
	cursor: pointer;        
}

#topnav div.mySignin:hover {
    display:inline-table;	
	text-align:left;
	text-decoration:none;
	font-weight:bold;
	color:#fff;	
	background: url("../images/loginOver.png") no-repeat;
	padding:5px 10px 6px;
	cursor: pointer;
	width: 93px;
}


#mySignin_menu {
	
	display:none;
	background-image:url("../images/bglogin.jpg") no-repeat;
	position:absolute;
	width:274px;
	z-index:0;	
	text-align:left;
	padding:12px;
	top: 24.5px; 
	right: 0px; 
	margin-top:2px;
	margin-right: 5px;
	*margin-right: -1px;	
	font-size:11px;
	border-style: none;
}

#mySignin_menu input[type=text], #mySignin_menu input[type=password] {
	display:block;	
	border:1px solid #cacaca;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#mySignin_menu p {
	margin:0;
}
#mySignin_menu a {
	color:#FFF;
}
#mySignin_menu label {
	font-weight:bold;
	color:#fffbe5;
}
#mySignin_menu p.remember {
	padding:10px 0;
}
#mySignin_menu p.forgot, #mySignin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#mySignin_menu p a {
	color:#fffbe5!important;
	text-decoration: underline;
}

#mySignin_submit {	
	background: url('../images/buttonLogin.png') repeat-x scroll 0 0;
	border:none;	
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 106px;
	height: 28px;
	cursor: pointer;
}


#carButton {
	background: url('../images/buttonMode.png') repeat-x scroll 0 0;
	border:none;	
	text-shadow:0 -1px 0 #39d;	
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;	
	color: #FFFFFF;
	text-align: center;	
	padding-top: 12px;
}

#carButton:hover{
	background: url('../images/buttonModeOver.png') repeat-x scroll 0 0;
	border:none;	
	text-shadow:0 -1px 0 #39d;	
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;	
	color: #FFFFFF;
	text-align: center;	
	padding-top: 12px;
}

.buttonLabel{ 
	font-size: 13px;
	font-weight: bold; 
	line-height: 1; 
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
	cursor: pointer;
}

#logo {		
	height : 53px;
	width : 240px;
	background-image:url("../images/logo.png");
	position:relative;
    top:10px;
    left:10px;	
}


#barMenu {
	display:inline-table;	
	background: url("../images/nav_bottom.png") repeat-x;	
	height: 35px;
	width: 100%;	
	float:left;
    line-height:normal;
    text-align: center;	
    margin: 0;	
}

/*.menu li { float :left ; }

.menu {
 list-style:none;
 border-top:#65bb01 solid 5px;
 background-color:#4c4c4c;
 width:100%; height:45px;
 margin:0px;
 }

.menu li a {
 display:block;
 color:#fff;
 font-size:13px;
 font-weight:bold;
 text-decoration:none;
 font-family:arial, verdana, sans-serif;
 text-align:center;
 margin-top:8px;
 padding:6px 10px 6px 10px;
 border-right: 10px solid # 4c4c4c;
 border-left: 10px solid # 4c4c4c;
 cursor:pointer;
 }

.menu li a:hover {
 background-color:#636363;
 }
 
.menu li.current a {
 background-color:#65bb01;
 }*/
/* 
ul#menu {	 
	height: 35px;
	width : 100%;	 
	font-size: 0.8em; 
	font-family: "Lucida Grande", Verdana, sans-serif; 
	font-weight: bold; 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	text-align:center;
}
ul#menu li { 
	display: block; 
	float: left; 
	margin: 0 0 0 5px; 
}
ul#menu li a { 
	height: 43px; 
	color: #777; 
	text-decoration: none;	
	line-height: 200%; 
	padding: 8px 15px 0;	 
}
ul#menu li a:hover { color: #333; }
ul#menu li a.current{ 
	color: #FFF; 
	background: #FFF url("images/current-bg.gif") top left repeat-x; 
	padding: 5px 15px 0; 
}*/


/*******************************/
#navigation {		
	background: url("../images/nav_bottom.png") repeat-x;	
	height: 43px;
	width: 100%;	
	float:left;
    line-height:normal;
    text-align: center;
	margin: 0;
	padding: 0;
	
}
#navigation ul, #navigation ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation ul {	
	text-align: center;	
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navigation ul li {		
	display: inline;	
}

#navigation ul li a {		
	height: 35px; 
	color: #FFF; 
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;
	font-weight : bold;	
	line-height: 200%; 
	padding: 5px 0px 0; 
}
#navigation ul li span {	
	padding: 0px -10px 5px 5px;
	margin: 0px 0 4px 4px;
}
#navigation ul li a:hover span {
	text-decoration: underline;
	background-position: 100% -75px;
}
#navigation ul li a:hover {
	background-position: 0 -75px;
}
#navigation ul li a.currentItem {	
	color: #000;
	text-shadow: none;
}
#navigation #current a span {
	background-position: 100% -150px;
}

.item{
	display: inline-table;	
	padding: 0;
	margin: 0;
	border: 0;
	overflow:auto;	
}

.leftItem{	
	background: url("../images/nav_item_left.png") no-repeat;
	height: 35px;	
	width: 7px;
	display: inline-table;
}

.rightItem{	
	background: url("../images/nav_item_right.png") no-repeat;
	height: 35px;	
	width: 7px;	
	display: inline-table;	
}

.bgItem{
	background: url("../images/nav_item_bg.png") repeat-x;
	height: 35px;
	display: inline-table;	
}

.curLeftItem{	
	background: url("../images/nav_cur_item_left.png") no-repeat;
	height: 35px;	
	width: 7px;
	display: inline-table;
}

.curRightItem{	
	background: url("../images/nav_cur_item_right.png") no-repeat;
	height: 35px;	
	width: 7px;	
	display: inline-table;	
}

.curBgItem{
	background: url("../images/nav_cur_item_bg.png") repeat-x;
	height: 35px;
	display: inline-table;	
} 

/*********************************/

ul.myMenu, ul.myMenu li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.myMenu {	
	text-align: center;	
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.myMenu li {
	display: inline;
}

ul.myMenu li a {		
	height: 35px; 
	color: #FFF; 
	text-shadow: black 0.1em 0.1em 0.2em;
	text-decoration: none;
	font-weight : bold;	
	line-height: 200%; 
	padding: 5px 0px 0; 
}

ul.myMenu li span {	
	padding: 0px -10px 5px 5px;
	margin: 0px 0 4px 4px;
}

ul.myMenu li a:hover span {
	text-decoration: underline;
	background-position: 100% -75px;
}

ul.myMenu li a:hover {
	background-position: 0 -75px;
}

ul.myMenu ul{
	 display : inline;	
	   
}

ul.myMenu ul li{
	 display : block;	 
	 background: url(../images/dropdown_pane.png) 0 100% no-repeat;
	 color: #000;
	 font-size: 11px;
	 font-weight: normal;
	 text-align: left;	 
	 
}

#autoDiv{
    padding-left: 20px;
    padding-top: 5px;
    display : block;
    text-align: left;
    width: 630px;
}




/*
Modern table design - template
*/




#psdgraphics-com-table {
	margin:0;
	padding: 3px;
	width: 578px;
	font: 11px Arial, Helvetica, sans-serif;
	color:#747474;
	background-color:#6a6a6a;
}


#psdg-header {
	margin:0;
	padding: 14px 0 0 24px;
	width: 554px;
	height: 55px;
	color:#FFF;
	font-size:13px;
	background: #0c2c65 url(../images/head-bcg.jpg) no-repeat right top;
}

.psdg-bold {
	font: bold 22px Arial, Helvetica, sans-serif;

}



#psdg-middle {
	margin:0;
	padding: 0;
	width: 578px;
	background: #f6f6f6 url(../images/center-bcg.png) repeat-y right top;
}

.psdg-left {
	float:left;
	margin:0;
	padding: 10px 0 0 24px;
	width: 200px;
	text-align: left;
	height: 25px;
	border-right: 1px solid #e2978b;
	border-bottom: 1px solid #e2978b;
	color:#000000;
	font: 13px Arial, Helvetica, sans-serif;
        font-weight: bold;
	background: #FFFFFF url(../images/center-blue.png) repeat-y left top;
}



.psdg-right {
	float:left;
	margin:0;
	padding: 11px 0 0 0;
	width: 352px;
	text-align:center;
	height: 24px;
	border-right: 1px solid #e2978b;
	border-bottom: 1px solid #e2978b;
}

#psdg-bottom {
	clear:both;
	margin:0;
	padding: 0;
	width: 578px;
	height: 48px;
	border-top: 2px solid #FFF;
	background: #e4e3e3 url(../images/bottom-line.png) repeat-x left top;
}


.psdg-bottom-cell {
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:105px;
	height: 33px;
	border-right: 1px solid #ced9ec;
	color:#070707;
	font: 13px Arial, Helvetica, sans-serif;
}

#psdg-top {
	margin:0;
	padding: 0;
	width: 578px;
	height: 46px;
	border-top: 2px solid #FFF;
        font-weight: bold;
	background: #eff4ff url(../images/top-light-blue.png) repeat-x left top;
}

#psdg-footer {
	font-size: 10px;
	color:#8a8a8a;
	margin:0;
	padding: 8px 0 8px 12px;
	width: 566px;
	background: #f6f6f6 url(../images/center-bcg.png) repeat-y right top;
}

.psdg-top-cell {
	float:left;
	padding: 15px 0 0 0;
	text-align:center;
	width:578px;
	height: 31px;
	color:#AAAAAA;
	font: 14px Arial, Helvetica, sans-serif;
        font-weight: bold;
}


#carSuivant1 {
	background: url('../images/buttonMode.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carSuivant1:hover{
	background: url('../images/buttonModeOver.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carBack1 {
	background: url('../images/buttonModeGrey.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carBack1:hover{
	background: url('../images/buttonModeGreyOver.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carSuivant2 {
	background: url('../images/buttonMode.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carSuivant2:hover{
	background: url('../images/buttonModeOver.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carSuivant3 {
	background: url('../images/buttonMode.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carSuivant3:hover{
	background: url('../images/buttonModeOver.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carAnnuler1 {
	background: url('../images/buttonModeGrey.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carAnnuler1:hover{
	background: url('../images/buttonModeGreyOver.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carValider {
	background: url('../images/buttonMode.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carValider:hover{
	background: url('../images/buttonModeOver.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#custom-demo .uploadifyQueueItem {
  background-color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #E5E5E5;
  font: 11px Verdana, Geneva, sans-serif;
  height: 50px;
  margin-top: 0;
  padding: 10px;
  width: 350px;
}
#custom-demo .uploadifyError {
  background-color: #FDE5DD !important;
  border: none !important;
  border-bottom: 1px solid #FBCBBC !important;
}
#custom-demo .uploadifyQueueItem .cancel {
  float: right;
}
#custom-demo .uploadifyQueue .completed {
  color: #C5C5C5;
}
#custom-demo .uploadifyProgress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%;
}
#custom-demo .uploadifyProgressBar {
  background-color: #0099FF;
  height: 3px;
  width: 1px;
}
#custom-demo #custom-queue {
  border: 1px solid #E5E5E5;
  height: 213px;
margin-bottom: 10px;
  width: 370px;
}

ul.thumb {
	float: left;
	list-style: none;
	margin: 0; padding: 10px;
	width: 360px;
}
ul.thumb li {
	margin: 0; padding: 5px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 110px;
	height: 110px;
}
ul.thumb li img {
	width: 100px; height: 100px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 1px solid #ddd;
	padding: 5px;
	background: #f0f0f0;
	position: absolute;
	left: 0; top: 0;
}
ul.thumb li img.hover {
	background:url(../images/thumb_bg.png) no-repeat center center;  /* Image used as background on hover effect
	border: none; /* Get rid of border on hover */
}

#image_view {
	float: left;
	padding: 9px 0;
	margin-left: -10px;
}

.pikachoose{width: 520px; }

.pika-image {position: relative; height: 450px; width: 600px; background: #fafafa; border: 1px solid #e5e5e5; padding: 10px;}
/*position image holders */
.pika-image .animation, .pika-image .main-image {position: absolute; top: 10px; left: 10px;}
.pika-image .animation {display: none;z-index:2;}
.pika-image img {border:0;}

/*
.pika-image .caption {position: absolute; background: url(../images/75-black.png);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: right; bottom: 50px; right: 10px;}
.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}
*/

.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
.pika-imgnav a.previous {background: url(../images/prev.png) no-repeat left 50%; height: 260px; width: 50px; top: 10px; left: 10px;cursor:pointer;}
.pika-imgnav a.next {background: url(../images/next.png) no-repeat right 50%; height: 260px; width: 50px; top: 10px; right: 10px;cursor:pointer;}
.pika-imgnav a.play {background: url(../images/play.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display: none;cursor:pointer;}
.pika-imgnav a.pause {background: url(../images/pause.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display:none;cursor:pointer;}

.pika-textnav {overflow: hidden; margin: 10px 0 0 0;}
.pika-textnav a {font-size: 12px; text-decoration: none; font-family:  helvetica, arial, sans-serif; color: #333; padding: 4px;}
.pika-textnav a:hover {background: #e5e5e5; color: #0065B2;}
.pika-textnav a.previous {float: left; width: auto; display: block;}
.pika-textnav a.next {float: right; width: auto; display: block;}

.pika-thumbs {margin: 10px 0 0 0; padding: 0; overflow: hidden; }
.pika-thumbs li {float: left; list-style-type: none; width: 74px; padding: 3px; margin: 0 2px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;display: inline}
.pika-thumbs li:last {margin: 0;}
.pika-thumbs li .clip {position:relative;width: 74px; height: 74px; text-align: center; vertical-align: center; overflow: hidden;}

.clip span{background-color:black;position:absolute;top:5px;left:5px;display:block;}
.pika-tooltip{font-size:12px;position:absolute;color:white;padding:3px; background-color: rgba(0,0,0,0.7);border:3px solid black;}

ul#pikame{width:570px;margin-bottom:10px;}


/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 15px 30px;}
.jcarousel-skin-pika .jcarousel-container-vertical { width: 90px; height: 350px; padding: 20px 20px;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 90px; width: 460px;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  90px; height: 350px;}
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 10px;}
.jcarousel-skin-pika .jcarousel-item-vertical {margin-bottom: 10px;}
.jcarousel-skin-pika .jcarousel-item-placeholder {background: #fff; color: #000;}



div.actifstep{
    background-image: url(../images/step_actif.png);
    background-repeat: no-repeat;
    width: 154 px;
    height: 52px;    
    color: #FFFFFF;
    font-family: TAHOMA;
    font-size: 10pt;
    font-weight: bold;    
    display: block;
    padding-top: 5px;
}

div.inactifstep{
    background-image: url(../images/step_inactif.png);
    background-repeat: no-repeat;
    width: 156 px;
    height: 52px;
    color: #000000;
    font-family: TAHOMA;
    font-size: 10pt;
    font-weight: bold;
    display: block;
    padding-top: 5px;
}



/**** FACEBOOK FAN BOX *****/
.fan_box a:hover{
  text-decoration: none;
}
.fan_box .full_widget{
  height: 200px;
  border: 0 !important;
  background: none !important;
  position: relative;
}
.fan_box .connect_top{
  background: none !important;
  padding: 0 !important;
}
.fan_box .profileimage, .fan_box .name_block{
  display: none;
}
.fan_box .connect_action{
  padding: 0 !important;
}
.fan_box .connections{
  padding: 0 !important;
  border: 0 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #666;
}
span.total{
  color: #FF6600;
  font-weight: bold;
}
.fan_box .connections .connections_grid {
  padding-top: 10px !important;
}
.fan_box .connections_grid .grid_item{
  padding: 0 10px 10px 0 !important;
}
.fan_box .connections_grid .grid_item .name{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: normal;
  color: #666 !important;
  padding-top: 1px !important;
}
.fan_box .connect_widget{
position: absolute;
bottom: 0;
right: 10px;
margin: 0 !important;
}
.fan_box .connect_widget .connect_widget_interactive_area {
margin: 0 !important;
}
.fan_box .connect_widget td.connect_widget_vertical_center {
padding: 0 !important;
}
/** enf FACEBOOK FAN BOX **/

#right_tab1{
    background-image:url(../images/right_tab.png);
    background-position:top left;
    background-repeat: no-repeat;
    min-height: 177px;
    padding-left: 20px;
}

.header_textbox {
	background-color:#710f02;
	border:1px solid #5f0000;
	color:#7F8690;
	font-family:tahoma;
	font-size:10px;        
}


/***** table price ***/

table#price-chart {
	MARGIN: 0px;
	padding: 0px;
}

table#price-chart .ligne1-col3{
    background-color: #f1d5d5;
}

table#price-chart .ligne1-col2{
    background-color: #e9bfbf;
}

table#price-chart .ligne1-col1{
    background-image: url(../images/price/premium.png);
    background-repeat: no-repeat;
}

table#price-chart .ligne2-col3{
    background-color: #f1e7c7;
}

table#price-chart .ligne2-col2{
    background-color: #e9dbaa;
}

table#price-chart .ligne2-col1{
    background-image: url(../images/price/medium.png);
    background-repeat: no-repeat;
}

table#price-chart .ligne3-col3{
    background-color: #d8ecf2;
}

table#price-chart .ligne3-col2{
    background-color: #c4e2ec;
}

table#price-chart .ligne3-col1{
    background-image: url(../images/price/basic.png);
    background-repeat: no-repeat;
}

.left-col-captions {
	width: 152px;
	font-weight: bold;
	color: #424242;
	text-align:right !important;
	padding-right: 8px !important;
}
.black-bg {
	background-color: #373737 !important;
	color: #FFF;
}


/**** end table price ***/


.gridbg{
    background-image: url(../images/accGrid.png);
    background-position: right;
    background-repeat: repeat-y;
}

.pricingL{
    background-image: url(../images/pricingL.png);    
    background-repeat: no-repeat;
}

.pricingM{
    background-image: url(../images/pricingM.png);
    background-repeat: no-repeat;
}

.pricingR{
    background-image: url(../images/pricingR.png);
    background-repeat: no-repeat;
}


#carTerminer {
	background: url('../images/buttonModeBlack.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}

#carTerminer:hover{
	background: url('../images/buttonModeOverBlack.png') repeat-x scroll 0 0;
	border:none;
	text-shadow:0 -1px 0 #39d;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	width: 125px;
	height: 40px;
	cursor: pointer;
	color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
}