<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="userManagerTarget" class="com.account.security.service.UserManagerImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
	</bean>
	<bean id="userManager" parent="transactionProxy">
		<property name="target">
			<ref bean="userManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>
	
	<bean id="accountManagerTarget" class="com.account.service.AccountService">
		<property name="accountDao">
			<ref bean="accountDao" />
		</property>
	</bean>
	
	<bean id="accountManager" parent="transactionProxy">
		<property name="target">
			<ref bean="accountManagerTarget"/>
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>
	
</beans>